.vscode
docs/
CMakeFiles
cmake_install.cmake
CMakeCache.txt
libkleinsHTTP.a
libkleinsHTTP.h
libkleinsHTTP.so
examples/simpleHelloWorld/simpleHelloWorld
examples/httpsExample/httpsExample
Makefile
build.ninja
.ninja_deps
.ninja_log